.active{
    color: darkblue;
    cursor: default;
}





.gridDiv{
    display: flex;
    flex-direction: column;
}

.white-space{
    height: 700px;
}


header{
    height: 100px;
    background: blueviolet;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.link {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.active_link {
    color: darkblue;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}


.linkDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
}

.linkDiv:hover{
    background: mediumslateblue;
    color: darkblue;
}

main{
    flex: 1;
}


footer{
    height: 125px;
    background: black;color: white;
}